<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/']" class="nav-link px-2 text-secondary">Root</a></li>
        <li><a [routerLink]="['home']" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a [routerLink]="['posts']" class="nav-link px-2 text-secondary">Posts</a></li>
        <li><a [routerLink]="['lists']" class="nav-link px-2 text-secondary">Lists</a></li>
        <li><a [routerLink]="['products']" class="nav-link px-2 text-secondary">Products</a></li>
        <li><a [routerLink]="['ag-grid']" class="nav-link px-2 text-secondary">AG Grid</a></li>
        <li><a [routerLink]="['ag-material']" class="nav-link px-2 text-secondary">AG Material</a></li>
        <li><a [routerLink]="['/new']" class="nav-link px-2 text-secondary">New</a></li>
      </ul>
    </div>
  </div>
</header>
